Repository Pyomo/pyomo, pull requests merged in 2018-03, with the labels that each got.

#342 [WIP] New pysp_instance_creation_callback signature
  examples/pysp/networkflow/1ef50.tbz2
  examples/pysp/networkflow/2ef10.tbz2
  examples/pysp/networkflow/2ef50.tbz2
  examples/pysp/networkflow/3ef10.tbz2
  examples/pysp/networkflow/3ef50.tbz2
  examples/pysp/networkflow/4ef10.tbz2
  examples/pysp/networkflow/4ef50.tbz2
  examples/pysp/networkflow/5ef10.tbz2
  examples/pysp/networkflow/5ef50.tbz2
  pyomo/pysp/scenariotree/instance_factory.py
  pyomo/pysp/tests/unit/test_instancefactory.py
  pyomo/pysp/tests/unit/testdata/reference_test_model_with_callback.py
Labels: enhancement

#383 Fix to kernel linear_constraint when assigning an empty list of terms
  pyomo/core/kernel/component_constraint.py
  pyomo/core/tests/unit/test_component_constraint.py
Labels: bug, pyomo.core

#392 Fix handling unbounded constraints
  pyomo/repn/plugins/ampl/ampl_.py
  pyomo/solvers/plugins/solvers/GAMS.py
  pyomo/solvers/plugins/solvers/cplex_direct.py
  pyomo/solvers/plugins/solvers/direct_or_persistent_solver.py
  pyomo/solvers/plugins/solvers/gurobi_direct.py
  pyomo/solvers/tests/models/LP_trivial_constraints.json
  pyomo/solvers/tests/models/LP_trivial_constraints.py
Labels: pyomo.solvers

#395 Update baselines due to change in GLPK
  examples/doc/pyomobook/bilevel-ch/mip1a.txt
  examples/doc/pyomobook/gdp-ch/scont.sh
  examples/doc/pyomobook/gdp-ch/scont.txt
  examples/doc/pyomobook/gdp-ch/scont2.sh
  examples/doc/pyomobook/gdp-ch/scont2.txt
  examples/doc/pyomobook/gdp-ch/scont_script.py
  examples/doc/pyomobook/gdp-ch/scont_script.txt
  examples/doc/pyomobook/gdp-ch/verify_scont.py
Labels: testing_and_ci

#400 NFC: Adding the Pyomo.DAE logo to the repository
  doc/logos/pyomo_dae/Pyomo-DAE-2400.png
  doc/logos/pyomo_dae/Pyomo-DAE-Transparent-2400.png
  doc/logos/pyomo_dae/Pyomo_DAE Logo _300.png
  doc/logos/pyomo_dae/Pyomo_DAE Logo.eps
  doc/logos/pyomo_dae/Pyomo_DAE Logo.pdf
  doc/logos/pyomo_dae/Pyomo_DAE Logo_150.png
Labels: pyomo.dae

#372 Do not silently fail to load a solution for kernel models
  pyomo/opt/base/solvers.py
  pyomo/solvers/plugins/solvers/GAMS.py
  pyomo/solvers/plugins/solvers/direct_solver.py
  pyomo/solvers/plugins/solvers/persistent_solver.py
  pyomo/solvers/tests/checks/test_no_solution_behavior.py
  pyomo/solvers/tests/checks/test_pickle.py
  pyomo/solvers/tests/checks/test_writers.py
  pyomo/solvers/tests/models/LP_infeasible1.py
  pyomo/solvers/tests/models/LP_infeasible2.py
  pyomo/solvers/tests/models/LP_unbounded.py
  pyomo/solvers/tests/models/MILP_infeasible1.py
  pyomo/solvers/tests/models/MILP_unbounded.py
  pyomo/solvers/tests/models/base.py
Labels: pyomo.solvers

#396 Fixing bug in Eckstein-Combettes extension to properly handle stale v…
  pyomo/pysp/plugins/ecksteincombettesextension.py
Labels: pyomo.pysp

#397 Pysp persistent enhancements
  examples/pysp/scripting/benders_scripting.py
  pyomo/pysp/ph.py
  pyomo/pysp/phinit.py
  pyomo/pysp/phsolverserver.py
  pyomo/pysp/phutils.py
  pyomo/pysp/plugins/ecksteincombettesextension.py
  pyomo/pysp/scenariotree/manager_solver.py
  pyomo/pysp/scenariotree/preprocessor.py
  pyomo/pysp/solvers/benders.py
  pyomo/pysp/solvers/schuripopt.py
  pyomo/pysp/tests/unit/test_ph.py
  pyomo/solvers/plugins/solvers/cplex_direct.py
Labels: pyomo.pysp

#393 Allow retrieving a mutable Param even when no initial or default value is specified
  pyomo/core/base/misc.py
  pyomo/core/base/param.py
  pyomo/core/base/sets.py
  pyomo/core/tests/unit/test_param.py
Labels: IDAES related, pyomo.core

#406 Fix for discretizing block hierarchical models with circular references
  pyomo/dae/misc.py
  pyomo/dae/plugins/colloc.py
  pyomo/dae/plugins/finitedifference.py
  pyomo/dae/tests/test_misc.py
Labels: IDAES related, pyomo.dae
