Repository Pyomo/pyomo, pull requests merged in 2018-04, with the labels that each got.

#410 Updates to the GDP transformations
  pyomo/gdp/disjunct.py
  pyomo/gdp/plugins/bigm.py
  pyomo/gdp/plugins/chull.py
  pyomo/gdp/plugins/cuttingplane.py
  pyomo/gdp/plugins/gdp_var_mover.py
  pyomo/gdp/tests/models.py
  pyomo/gdp/tests/test_bigm.py
  pyomo/gdp/tests/test_chull.py
  pyomo/gdp/tests/test_disjunct.py
  pyomo/gdp/util.py
Labels: pyomo.gdp

#418 Use ctype instead of isinstance for Disjunct detection
  pyomo/gdp/disjunct.py
Labels: IDAES related, pyomo.gdp

#398 Add the trustregion package as a contribution code in pyomo.
  .appveyor.yml
  .travis.yml
  pyomo/contrib/trustregion/GeometryGenerator.py
  pyomo/contrib/trustregion/Logger.py
  pyomo/contrib/trustregion/PyomoInterface.py
  pyomo/contrib/trustregion/TRF.py
  pyomo/contrib/trustregion/__init__.py
  pyomo/contrib/trustregion/cache.py
  pyomo/contrib/trustregion/examples/Example1.py
  pyomo/contrib/trustregion/examples/ipopt.opt
  pyomo/contrib/trustregion/filterMethod.py
  pyomo/contrib/trustregion/getGJH.py
  pyomo/contrib/trustregion/helper.py
  pyomo/contrib/trustregion/param.py
  pyomo/contrib/trustregion/plugins.py
  pyomo/contrib/trustregion/readgjh.py
  pyomo/contrib/trustregion/tests/TestPyomoInterface.py
  pyomo/contrib/trustregion/tests/__init__.py
  pyomo/environ/__init__.py
Labels: IDAES related, in progress

#423 Propagating the AMPLFUNC env management to solver-specific interfaces
  pyomo/solvers/plugins/solvers/CONOPT.py
  pyomo/solvers/plugins/solvers/IPOPT.py
  pyomo/solvers/plugins/solvers/SCIPAMPL.py
Labels: IDAES related

#424 More cleanup related to what was fixed in #422. Also adding a few uni…
  pyomo/pysp/scenariotree/instance_factory.py
  pyomo/pysp/tests/unit/test_instancefactory.py
  pyomo/pysp/tests/unit/testdata/both_callbacks.py
Labels: pyomo.pysp

#429 Adding TerminationCondition to pyomo.environ
  pyomo/environ/__init__.py
Labels: enhancement
