Repository Pyomo/pyomo, pull requests merged in 2019-05, with the labels that each got.

#971 Mosek
  pyomo/solvers/plugins/solvers/__init__.py
  pyomo/solvers/plugins/solvers/mosek_direct.py
  pyomo/solvers/tests/checks/test_mosek.py
  pyomo/solvers/tests/models/base.py
  pyomo/solvers/tests/solvers.py
  pyomo/solvers/tests/testcases.py
Labels: pyomo.solvers

#1007 Adding a license check for Mosek for solver tests
  pyomo/opt/base/solvers.py
  pyomo/solvers/plugins/solvers/mosek_direct.py
  pyomo/solvers/tests/solvers.py
Labels: pyomo.solvers, testing_and_ci

#1011 Add read-only view of kernel matrix_constraint.A
  pyomo/core/kernel/matrix_constraint.py
  pyomo/core/tests/unit/kernel/test_matrix_constraint.py
Labels: pyomo.core

#980 Add specialized conic constraints to kernel
  doc/OnlineDocs/library_reference/kernel/conic.rst
  doc/OnlineDocs/library_reference/kernel/examples/conic.py
  doc/OnlineDocs/library_reference/kernel/examples/conic.spy
  doc/OnlineDocs/library_reference/kernel/examples/conic_Class.spy
  doc/OnlineDocs/library_reference/kernel/examples/conic_Domain.spy
  doc/OnlineDocs/library_reference/kernel/index.rst
  examples/kernel/conic_constraints.py
  pyomo/core/kernel/conic.py
  pyomo/core/tests/unit/kernel/test_conic.py
  pyomo/kernel/__init__.py
  pyomo/solvers/plugins/solvers/mosek_direct.py
  pyomo/solvers/tests/checks/test_mosek.py
  pyomo/solvers/tests/solvers.py
  pyomo/solvers/tests/testcases.py
Labels: pyomo.core, pyomo.solvers

#1018 Minor Update to Conic Interface
  doc/OnlineDocs/library_reference/kernel/index.rst
  examples/kernel/conic.py
  examples/kernel/mosek/geometric1.py
  examples/kernel/mosek/geometric2.py
  examples/kernel/mosek/power1.py
  pyomo/core/kernel/conic.py
  pyomo/core/tests/examples/test_kernel_examples.py
  pyomo/core/tests/unit/kernel/test_conic.py
Labels: pyomo.core, pyomo.solvers
